/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 14px;
  @apply font-light;
  @apply text-light-text;
  @apply bg-light-bg;
}

html.dark {
  @apply text-dark-text;
  @apply bg-dark-bg;
}
