/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    font-size: 14px;
    @apply font-light;
    @apply text-light-text;
    @apply bg-light-bg;
  }
}

.button {
  @apply inline-block;
  @apply px-8;
  @apply py-1;
  @apply shadow-md;
}
