/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    font-size: 14px;
    @apply font-light;
    @apply text-light-text;
    @apply bg-light-bg;
  }
}

.button {
  @apply inline-block;
  padding: 0.25em 1.5em;
  border-radius: 0.25em;
  @apply shadow-md;
  @apply bg-light-element;
}

.button:focus {
  @apply ring-1;
  @apply ring-blue;
}
